.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status {
    font-size: 18px;
}

body {
    background-size: cover;
    background-position: center;
}

canvas {
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

a{
    font-size: 30px;
    border-radius: 50px;
    width: 400px;
    background-color: black;
    color: aqua;
    border-color: red;
    border-inline-start-color: white;
    border-style: double;
}